*{
    margin: 0;
    padding:0;
    font-family: monospace;
}

body{
background-color: 	rgb(193, 196, 247);

}
.wrapper{
    max-width: 500px;
    width: 80%;
    height: 500px;
    margin: 100px auto;
    background-color: rgb(138, 43, 226);
}


.add-section {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5em;
    padding: 20px;
}

.add-section input {
    display: block;
    width: 95%;
    height: 60px;
    margin: 10px auto;
    border: 2px solid;
    font-size: 16px;
    border-radius: 5px;
    padding: 0px 5px;
}

.add-section button {
    display: block;
    width: 95%;
    height: 40px;
    margin: 0px auto;
    border: 2px solid;
    outline: none;
    background: #c72190;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;

}

.add-section button:hover {
    box-shadow: 0 2px 2px 0 #ccc, 0 2px 3px 0 #ccc;
    opacity: 0.8;
  }
